.main {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--mantine-color-gray-0);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 3.5rem 1fr;
    grid-template-areas:
        "navbar navbar navbar"
        ". main .";
}

.navbar {
    grid-area: navbar;
}

.content {
    grid-area: main;
    width: 100%;
    max-width: var(--mantine-breakpoint-md);
    margin: 0 auto;
    padding: var(--mantine-spacing-lg);
    flex-grow: 1;
}