.card {
    border-style: dashed;
    border-width: 0.125rem;
    background-color: transparent;
    border-color: var(--mantine-color-gray-4);
}

.card:hover {
    border-color: var(--mantine-color-brand-6)
}