.card {
    background-color: transparent;
    border-style: dashed;
    border-width: 0.125rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card:hover {
    border-color: var(--mantine-color-brand-5);
}