.header {
    grid-area: header;
}

.container {
    display: grid;
    gap: var(--mantine-spacing-sm);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header";
}

.container {
    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header header";
    }
}