[database]
database = bultdatabasen
schema = bultdatabasen
host = 127.0.0.1
port = 3306
username = bultdatabasen
password = bultdatabasen

[spaces]
bucket = bultdatabasen
key = mykey
secret = mysecret

[functions]
images/resize = https://.doserverless.co/api/v1/web/fn-/images/resize mysecret
