[database]
database = bultdatabasen
schema = bultdatabasen
host = 127.0.0.1
port = 5432
username = bultdatabasen
password = bultdatabasen

[auth]
issuer = https://cognito-idp.eu-west-1.amazonaws.com/eu-west-1_bo9kHBKxM

[spaces]
bucket = bultdatabasen
key = mykey
secret = mysecret

[functions]
images/resize = https://.doserverless.co/api/v1/web/fn-/images/resize mysecret
